.card{
  
 
  color: rgb(230, 222, 115);
  float: left;
  padding: 25px;
  width:200px;
  height: 350px;
  background: linear-gradient(rgba(231, 25, 6, 0.75),rgba(42, 46, 56, 0.75));
  border-radius: 10px;
  font-size: 18px;
  margin: 16px;
}
body{
   
  background-image:url(imagenes.png/imageinicio.jpeg); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment:fixed;
  
  }
 h4{
  color: crimson;
 }
 
